<div class="error">
  <div class="container-fluid">
    <div class="col-xs-12 ground-color text-center">
      <div class="container-error-404">
        <div class="clip">
          <div class="shadow d-none d-lg-block">
            <span class="digit firstDigit">{{firstDigit}}</span>
          </div>
          <span class="digit sm firstDigit d-lg-none">{{firstDigit}}</span>
        </div>
        <div class="clip">
          <div class="shadow d-none d-lg-block">
            <span class="digit secondDigit">{{secondDigit}}</span>
          </div>
          <span class="digit sm secondDigit d-lg-none">{{secondDigit}}</span>
        </div>
        <div class="clip">
          <div class="shadow d-none d-lg-block">
            <span class="digit thirdDigit">{{thirdDigit}}</span>
          </div>
          <span class="digit sm thirdDigit d-lg-none">{{thirdDigit}}</span>
        </div>
        <div class="msg d-none d-lg-block">
          Sorry!<span class="triangle"></span>
        </div>
      </div>
      <h2 class="h1 d-none d-sm-block">Page not found</h2>
    </div>
  </div>
</div>
