{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "[iI]gnored|[uU]nused",
        "argsIgnorePattern": "[iI]gnored|[uU]nused"
      }
    ],
    "camelcase": 0,
    "dot-notation": 0,
    "no-extra-semi": "error",
    "no-useless-constructor": 0,
    "semi": 0,
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "max-len": ["error", { "code": 120, "ignoreUrls": true }]
  }
}
