<div class="container col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex" id="nav-wrapper">
  <nav class="navbar navbar-expand-md fixed-bottom navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="sideNavBar"
            aria-controls="sideNavBar" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle secondary navigation"
            (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="sideNavBar" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/entities">
            Owned entities <span class="sr-only" *ngIf="isLinkActive('/entities')">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/users">
            Users <span class="sr-only" *ngIf="isLinkActive('/users')">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/roles">
            Roles <span class="sr-only" *ngIf="isLinkActive('/roles')">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/permissions">
            Permissions <span class="sr-only" *ngIf="isLinkActive('/permissions')">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/todo">
            Configuration <span class="sr-only" *ngIf="isLinkActive('/configuration')">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
