@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

#nav-wrapper {
  @include media-breakpoint-up(md) {
    height: 87vh;
    max-height: 87vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    nav {
      position: absolute;
      bottom: initial;
    }
  }
}
