sudo: enabled
branches:
  only:
  - master
matrix:
  include:
  - language: java
    jdk: openjdk8
    addons:
      postgresql: '9.6'
    before_cache:
    - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
    - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
    cache:
      directories:
      - "$HOME/.gradle/caches/"
      - "$HOME/.gradle/wrapper/"
    before_script:
    - cd server
    - psql -c "create database gmstest;" -U postgres
    - sudo -u postgres psql -c "ALTER ROLE postgres WITH password 'postgres'"
    script:
    - "./gradlew test"
    services:
    - postgresql
    after_success:
    - "./gradlew cobertura coveralls"
  - language: node_js
    node_js: lts/*
    addons:
      apt:
        update: true
        sources:
        - google-chrome
        packages:
        - google-chrome-stable
        - google-chrome-beta
    cache:
      directories:
      - node_modules
    services:
      - xvfb
    before_script:
    - export CHROME_BIN=/usr/bin/google-chrome
    - cd client
    - npm install -g @angular/cli
    - npm install
    script:
    - npm run lint
    - npm run testcoverage
#    - npm run e2e
    after_success:
    - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
