<!--Jumbotron-->
<div class="row">
  <div class="col-md-12">
    <gms-jumbotron header="General Management System" text="To do!" link="/login" linkText="Try it now"></gms-jumbotron>
  </div>
</div>
<!--./Jumbotron-->

<!-- first 3 Cards-->
<div class="row">
  <div class="col-md-4">
    <gms-preview-content heading="Permission list" text="To do!" link="/permissions"></gms-preview-content>
  </div>
  <div class="col-md-4">
    <gms-preview-content heading="Roles management" text="To do!" link="/roles"></gms-preview-content>
  </div>
  <div class="col-md-4">
    <gms-preview-content heading="Users management" text="To do!" link="/users"></gms-preview-content>
  </div>
</div>
<!--./Cards-->

<!-- second 3 Cards-->
<div class="row">
  <div class="col-md-4">
    <gms-preview-content heading="Owned entities management" text="To do!" link="/entities"></gms-preview-content>
  </div>
  <div class="col-md-4">
    <gms-preview-content heading="Highly configurable" text="To do!" link="/configuration"></gms-preview-content>
  </div>
  <div class="col-md-4">
    <gms-preview-content heading="Language selection" text="To do!" link="/configuration"></gms-preview-content>
  </div>
</div>
<!--./Cards-->
