<!--Jumbotron-->
<div class="row" id="jmb-panel" *ngIf="!isLoggedIn">
  <div class="col-md-12">
    <gms-jumbotron header="{{appName}}" text="A generic, powerful, management system" link="/login"
      linkText="Try it now"></gms-jumbotron>
  </div>
</div>
<!--./Jumbotron-->

<!-- first 3 Cards-->
<div class="row">
  <div class="col-md-4">
    <gms-preview-content heading="Permissions list" text="Shows the list of the current permissions the system handles." link="/permissions"></gms-preview-content>
  </div>
  <div class="col-md-4">
    <gms-preview-content heading="Roles management" text="Shows the list of the current roles in the system." link="/roles"></gms-preview-content>
  </div>
  <div class="col-md-4">
    <gms-preview-content heading="Users management" text="To do!" link="/users"></gms-preview-content>
  </div>
</div>
<!--./Cards-->

<!-- second 3 Cards-->
<div class="row">
  <div class="col-md-4">
    <gms-preview-content heading="Entities management" text="To do!" link="/entities"></gms-preview-content>
  </div>
  <div class="col-md-4">
    <gms-preview-content heading="Highly configurable" text="You can adjust the application parameter as desired." link="/configurations"></gms-preview-content>
  </div>
  <div class="col-md-4">
    <gms-preview-content heading="Language selection" text="Select the language of your preference." link="/configurations"></gms-preview-content>
  </div>
</div>
<!--./Cards-->
