<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{role.label}}</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">Label: </div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">{{role.label}}</div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">Description: </div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">{{role.description}}</div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">Enabled: </div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">{{role.enabled}}</div>
    </div>

    <div class="row mt-3" *ngIf="!rolesLoaded">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a class="text-primary cursor-pointer" (click)="showInPermissions()" id="showPermissionsLnk">Show
          permissions</a>
      </div>
    </div>

    <span *ngIf="permissionsLoaded && permissions.length">
      <div class="row mt-3">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">Roles using it:</div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
          <table class="table table-bordered table-hover" id="permissionsTable">
            <thead class="thead-light">
              <tr>
                <th>Label</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of permissions">
                <td>{{p.label}}</td>
                <td>{{p.name}}</td>
              </tr>
            </tbody>
          </table>

          <gms-pagination [(page)]="page.current" [collectionSize]="page.total" [pageSize]="page.size"
            [boundaryLinks]="true" (pageChangeAction)="showInPermissions($event)"> </gms-pagination>

        </div>
      </div>
    </span>

  </div>
</div>
