<div class="container-fluid h-100 mx-0 px-0">
  <div class="col-md-12 mx-0 px-0" id="component-wrapper">

    <!--region top nav bar-->
    <div class="row">
      <div class="col-md-12">
        <gms-nav-bar></gms-nav-bar>
      </div>
    </div>
    <!--endregion-->

    <!--region side nav bar and content-->
    <div class="container col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div class="row container-fluid px-0 mx-0 pt-6" id="content-wrapper">
        <!--region left menu bar-->
        <gms-side-menu *ngIf="loggedIn"></gms-side-menu>
        <!--endregion-->

        <!--region routing-->
        <div class="container-fluid col-xs-12 col-sm-12"
          [ngClass]="{'offset-md-3 offset-lg-3 offset-xl-3 col-md-9 col-lg-9 col-xl-9':loggedIn, 'col-md-12 col-lg-12 col-xl-12': !loggedIn}">
          <router-outlet></router-outlet>
        </div>
        <!--endregion-->
      </div>
    </div>
    <!--endregion-->

  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
