<div class="container-fluid h-100 mx-0 px-0">
  <div class="col-md-12 mx-0 px-0" id="component-wrapper">

    <!--region top nav bar-->
    <div class="row">
      <div class="col-md-12">
        <gms-nav-bar></gms-nav-bar>
      </div>
    </div>
    <!--endregion-->

    <!--region side nav bar and content-->
    <div class="row container-fluid px-0 mx-0 pt-6" id="content-wrapper">
      <!--region left menu bar-->
      <gms-side-menu *ngIf="loggedIn"></gms-side-menu>
      <!--endregion-->

      <!--region routing-->
      <div class="col-xs-12 col-sm-12 container-fluid"
           [ngClass]="{'offset-md-2 offset-lg-2 col-md-10 col-xl-10':sessionService.loggedIn, 'col-md-12 col-xl-12': sessionService.loggedIn}">
        <router-outlet></router-outlet>
      </div>
      <!--endregion-->
    </div>
    <!--endregion-->

  </div>
</div>
