<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" routerLink="/home">GMS</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar"
            aria-controls="topNavBar" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle superior navigation"
            (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNavBar" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto" id="nav-left-list">
        <li class="nav-item" *ngFor="let url of urls">
          <a class="nav-link" routerLinkActive="active" [routerLink]="[url.path]">
            {{url.name}} <span class="sr-only" *ngIf="isLinkActive(url.path)">(current)</span>
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-5" *ngIf="isSearchActive" name="nav-bar-search-form">
        <div class="input-group">
          <input class="form-control" type="search" [placeholder]="searchPlaceholder" [attr.aria-label]="searchPlaceholder">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">{{searchText}}</button>
          </div>
        </div>
      </form>
      <ul class="navbar-nav" id="nav-right-list">
        <li class="nav-item"><a class="nav-link" routerLink="/sign-up">Sign up</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/sign-in">Sign in</a></li>
      </ul>
    </div>

  </div>
</nav>
